appnope
attrs
backcall
bleach
cycler
decorator
defusedxml
descartes
entrypoints
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
mizani
nbconvert
nbformat
notebook
numpy
palettable
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
plotnine
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
scipy
seaborn
Send2Trash
six
statsmodels
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
